<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.BlogArticleListMapper">
    
    <resultMap type="com.weindependent.app.database.dataobject.BlogArticleListDO" id="BlogArticleListResult">
        <result property="id" column="id" />
        <result property="articleSourceType" column="article_source_type" />
        <result property="sourceUrl" column="source_url" />
        <result property="authorId" column="author_id" />
        <result property="bannerImgId" column="banner_img_id" />
        <result property="summary" column="summary" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="articleStatus" column="article_status" />
        <result property="categoryId" column="category_id" />
        <result property="isDeleted" column="is_deleted" />
        <result property="createUserId" column="create_user_id" />
        <result property="createTime" column="create_time" />
        <result property="updateUserId" column="update_user_id" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectBlogArticleVo">
        select id, article_source_type, source_url, author_id, banner_img_id, summary, title, content, article_status, category_id, is_deleted, create_user_id, create_time, update_user_id, update_time 
        from blog_article
    </sql>

    <select id="selectBlogArticleList" 
            parameterType="com.weindependent.app.dto.BlogArticleListQry" 
            resultMap="BlogArticleListResult">
        <include refid="selectBlogArticleVo"/>
        <where>
            <!-- 只保留按分类筛选的条件 -->
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
        ORDER BY ${orderClause}
    </select>
    
    <select id="selectBlogArticleById" parameterType="int" resultType="com.weindependent.app.database.dataobject.BlogArticleListDO">
        SELECT * FROM blog_article WHERE id = #{id}
    </select>

</mapper>
