<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.BlogPdfStorageMapper">

    <resultMap id="BlogPdfStorageDOResultMap" type="com.weindependent.app.database.dataobject.BlogPdfStorageDO">
        <id column="id" property="id" />
        <result column="blog_id" property="blogId"/>
        <result column="pdf_content" property="pdfContent"/>
        <result column="file_name" property="fileName"/>
        <result column="pdf_generation_time" property="pdfGenerationTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 查询指定博客ID的PDF存储记录 -->
    <select id="selectPdfByBlogId" parameterType="int" resultMap="BlogPdfStorageDOResultMap">
        SELECT id, blog_id, pdf_content, file_name, pdf_generation_time, is_deleted, create_user_id, create_time, update_user_id, update_time
        FROM blog_pdf_storage
        WHERE blog_id = #{blogId}
    </select>

    <!-- 插入PDF存储记录 -->
    <insert id="insertPdf" parameterType="com.weindependent.app.database.dataobject.BlogPdfStorageDO">
        INSERT INTO blog_pdf_storage (
            blog_id, pdf_content, file_name, pdf_generation_time, 
            is_deleted, create_user_id, create_time, update_user_id, update_time
        )
        VALUES (
            #{blogId}, #{pdfContent}, #{fileName}, #{pdfGenerationTime},
            #{isDeleted}, #{createUserId}, #{createTime}, #{updateUserId}, #{updateTime}
        )
    </insert>

</mapper>
