<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.BlogArticleCategoryMapper">
    
    <resultMap type="BlogCategoryDO" id="BlogCategoryResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogCategoryVo">
        select id, name, is_deleted, create_user_id, create_time, update_user_id, update_time from category
    </sql>

    <select id="selectBlogCategoryList" parameterType="BlogCategoryDO" resultMap="BlogCategoryResult">
        <include refid="selectBlogCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectAllCategories" resultMap="BlogCategoryResult">
    <include refid="selectBlogCategoryVo"/>
        where is_deleted = 0
        order by create_time asc
    </select>

    <select id="selectCategoryById" parameterType="Integer" resultMap="BlogCategoryResult">
        <include refid="selectBlogCategoryVo"/>
        where id = #{id}
    </select>


    <select id="selectBlogCategoryByName" resultMap="BlogCategoryResult">
        <include refid="selectBlogCategoryVo"/>
        where name = #{name}
    </select>

</mapper>