<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.BlogPdfExportMapper">
    
    <resultMap type="BlogArticleDO" id="BlogPdfExpResult">
        <result property="id"    column="id"    />
        <result property="articleSourceType"    column="article_source_type"    />
        <result property="sourceUrl"    column="source_url"    />
        <result property="authorId"    column="author_id"    />
        <result property="bannerImgId"    column="banner_img_id"    />
        <result property="summary"    column="summary"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="articleStatus"    column="article_status"    />
        <result property="categoryId"    column="category_id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogPdfExpVo">
            SELECT id, title, summary, content, create_time, author_id
            FROM blog_article
    </sql>

    
    <select id="selectBlogPdfExpById" parameterType="Integer" resultMap="BlogPdfExpResult">
        <include refid="selectBlogPdfExpVo"/>
        where id = #{id}
    </select>

</mapper>