<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardTagArticleRelationMapper">

    <resultMap type="TagArticleRelationDO" id="TagArticleRelationResult">
        <result property="id"    column="id"    />
        <result property="tagId"      column="tag_id"    />
        <result property="articleId"      column="article_id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="getRelationByTagIdAndArticleId" parameterType="Integer" resultMap="TagArticleRelationResult">
        select  id, tag_id, article_id, is_deleted, create_user_id, create_time, update_user_id, update_time
        from tag_article_relation
        where tag_id = #{tagId}
          and article_id = #{articleId}
    </select>

    <select id="getTagIdListByArticleId" resultType="java.lang.Integer">
        SELECT tag.id
        FROM tag_article_relation left join tag on tag_article_relation.tag_id = tag.id
        WHERE tag_article_relation.article_id = #{articleId}
          AND tag.is_deleted = 0
          AND tag_article_relation.is_deleted = 0
    </select>

    <insert id="insertTagArticleRelation" parameterType="TagArticleRelationDO" useGeneratedKeys="true" keyProperty="id">
        insert into tag_article_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tagId != null">tag_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUserId != null">update_user_id,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tagId != null">#{tagId},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUserId != null">#{updateUserId},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="deleteByArticleId" parameterType="Integer">
        update tag_article_relation
        set is_deleted = 1,
            update_user_id = #{userId}
        where article_id = #{articleId}
    </update>

    <update id="recoverById" parameterType="Integer">
        update tag_article_relation
        set is_deleted = 0,
            update_user_id = #{userId}
        where id = #{id}
    </update>

</mapper>