<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardSpeakerMapper">

    <insert id="insert" parameterType="com.weindependent.app.database.dataobject.EventSpeakerDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO event_speaker (first_name, last_name, title, background, description, banner_url)
        VALUES (#{firstName}, #{lastName}, #{title}, #{background}, #{description}, #{bannerUrl})
    </insert>

    <update id="update" parameterType="com.weindependent.app.database.dataobject.EventSpeakerDO">
        UPDATE event_speaker
        SET first_name = #{firstName},
            last_name = #{lastName},
            title = #{title},
            background = #{background},
            description = #{description},
            banner_url = #{bannerUrl},
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM event_speaker
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
               s.first_name,
               s.last_name,
               s.title,
               s.background,
               s.description,
               s.banner_url,
               img.file_path AS bannerUrl,
        FROM event_speaker s
        ORDER BY s.update_time DESC
    </select>

    <select id="getById" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
               s.first_name,
               s.last_name,
               s.title,
               s.background,
               s.description,
               s.banner_url,
               img.file_path AS bannerUrl,
        FROM event_speaker s
        WHERE s.id = #{id}
    </select>

    <select id="getByIds" parameterType="list" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
            s.first_name,
            s.last_name,
            s.title,
            s.background,
            s.description,
            s.banner_id,
            s.banner_url,
        FROM event_speaker s
        WHERE s.id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="searchByFullName" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
                s.first_name,
                s.last_name,
                s.title,
                s.background,
                s.description,
                s.banner_id,
                s.banner_url,
        FROM event_speaker s
        WHERE CONCAT(s.first_name, ' ', s.last_name) LIKE CONCAT('%', #{name}, '%')
            ORDER BY s.update_time DESC
    </select>

    <select id="searchByFirstName" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
               s.first_name,
               s.last_name,
               s.title,
               s.background,
               s.description,
               s.banner_id,
               s.banner_url,
        FROM event_speaker s
        WHERE s.first_name LIKE CONCAT('%', #{firstName}, '%')
        ORDER BY s.update_time DESC
    </select>

    <select id="searchByLastName" resultType="com.weindependent.app.vo.event.dashboard.DashboardSpeakerVO">
        SELECT s.id,
               s.first_name,
               s.last_name,
               s.title,
               s.background,
               s.description,
               s.banner_id,
               s.banner_url,
        FROM event_speaker s
        WHERE s.last_name LIKE CONCAT('%', #{lastName}, '%')
        ORDER BY s.update_time DESC
    </select>

</mapper>
