<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardBlogCommentMapper">

    <resultMap type="BlogCommentDO" id="BlogCommentResult">
        <result property="id"    column="id"    />
        <result property="articleId"    column="article_id"    />
        <result property="parentCommentId"    column="parent_comment_id"    />
        <result property="content"    column="content"    />
        <result property="commentAuthorUserId"    column="comment_author_user_id"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlogCommentVo">
        select id, article_id, parent_comment_id, content, comment_author_user_id, is_deleted, create_user_id, create_time, update_user_id, update_time from blog_comment
    </sql>

    <select id="selectBlogCommentList" parameterType="BlogCommentDO" resultMap="BlogCommentResult">
        <include refid="selectBlogCommentVo"/>
        <where>
            <if test="articleId != null "> and article_id = #{articleId}</if>
            <if test="parentCommentId != null "> and parent_comment_id = #{parentCommentId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="commentAuthorUserId != null "> and comment_author_user_id = #{commentAuthorUserId}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateUserId != null "> and update_user_id = #{updateUserId}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <update id="deleteBlogCommentByIds" parameterType="String">
        update blog_comment
        set is_deleted = 1,
        update_user_id = #{updateUserId}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>