<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardeventImageMapper">
    <select id="query" parameterType="map" resultType="com.weindependent.app.database.dataobject.ImageDO">
        SELECT * FROM event_image
      <where>
          <if test="category!=null and category!=''">
              AND category = #{category}
          </if>
          <if test="fileName!=null and fileName!=''">
              AND file_name = #{fileName}
          </if>
          <if test="fileType!=null and fileType!=''">
              AND file_type = #{fileType}
          </if>
          <if test="fileId!=null and fileId!=''">
              AND file_id = #{fileId}
          </if>
          <if test="filePath!=null and filePath!=''">
              AND file_path = #{filePath}
          </if>
          <if test="isDeleted!=null">
              is_deleted = #{isDeleted}
          </if>
      </where>

    </select>

    <select id="findById" parameterType="int" resultType="com.weindependent.app.database.dataobject.ImageDO">
        SELECT * FROM event_image WHERE id = #{id}
    </select>

    <select id="getAllImages" resultType="com.weindependent.app.database.dataobject.UserDO">
        SELECT * FROM event_image
    </select>

    <insert id="insert" parameterType="com.weindependent.app.database.dataobject.ImageDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO event_image (category, file_name,file_key, file_type, file_path)
        VALUES (#{category}, #{fileName},#{fileKey}, #{fileType}, #{filePath})
    </insert>

    <update id="update" parameterType="com.weindependent.app.database.dataobject.ImageDO">
        UPDATE event_image
        <set>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="fileKey != null and fileKey != ''">file_key = #{fileKey},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>

    <update id="deleteByEventId" parameterType="int">
        UPDATE event_image
        SET is_deleted = 1
        WHERE id = (
            SELECT banner_id
            FROM event
            WHERE id = #{eventId}
        )
    </update>

    <update id="deleteEventBanner" parameterType="int">
        UPDATE event_image
        SET is_deleted = 1, update_time = NOW()
        WHERE id = (
            SELECT banner_id FROM event WHERE id = #{eventId}
        )
    </update>
</mapper>
