<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardEventMapper">

    <insert id="create" parameterType="com.weindependent.app.database.dataobject.EventDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO event (title, summary, content, event_time, duration, location, link, video_link, tag_id, banner_url, create_user_id, update_user_id)
        VALUES (#{title}, #{summary}, #{content}, #{eventTime},#{duration}, #{location}, #{link}, #{videoLink}, #{tagId}, #{bannerUrl}, #{createUserId}, #{updateUserId});
    </insert>

    <select id="getById" parameterType="map" resultType="com.weindependent.app.vo.event.dashboard.DashboardEventVO">
        SELECT
            e.*,
            t.name AS tagName,
            cu.real_name AS createUserName,
            uu.real_name AS updateUserName
        FROM event e
            LEFT JOIN event_tag t ON e.tag_id = t.id
            LEFT JOIN t_system_user cu ON e.create_user_id = cu.id
            LEFT JOIN t_system_user uu ON e.update_user_id = uu.id
        WHERE e.id = #{id}
    </select>

    <select id="list" parameterType="com.weindependent.app.dto.EventListQry" resultType="com.weindependent.app.vo.event.dashboard.DashboardEventVO">
        SELECT
            e.*,
            t.name AS tagName,
            cu.real_name AS createUserName,
            uu.real_name AS updateUserName,
            (
                SELECT GROUP_CONCAT(CONCAT(s.first_name, ' ', s.last_name) SEPARATOR ', ')
                FROM event_speaker_relation esr
                JOIN event_speaker s ON esr.speaker_id = s.id
                WHERE esr.event_id = e.id
            ) AS speakerNameList,
            CEIL(COUNT(*) OVER() / #{pageSize}) AS pages
        FROM event e
             LEFT JOIN t_system_user cu ON e.create_user_id = cu.id
             LEFT JOIN t_system_user uu ON e.update_user_id = uu.id
             <!-- LEFT JOIN t_system_user su ON e.speaker_user_id = su.id -->
             LEFT JOIN event_tag t ON e.tag_id = t.id
        <where>
            <if test="title != null and title != ''">
                AND e.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="location != null and location != ''">
                AND e.location LIKE CONCAT('%', #{location}, '%')
            </if>
            <!-- <if test="speakerUserId != null">
                AND e.speaker_user_id = #{speakerUserId}
            </if> -->
            <if test="tagId != null">
                AND e.tag_id = #{tagId}
            </if>
            <if test="createUserId != null">
                AND e.create_user_id = #{createUserId}
            </if>
            <if test="eventTimeStart != null">
                AND e.event_time &gt;= #{eventTimeStart}
            </if>
            <if test="eventTimeEnd != null">
                AND e.event_time &lt;= #{eventTimeEnd}
            </if>
            <if test="createTimeStart != null">
                AND e.create_time &gt;= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null">
                AND e.create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        ORDER BY e.event_time DESC
    </select>


    <select id="getRegisteredUsers" resultType="com.weindependent.app.database.dataobject.UserDO">
        SELECT
          u.id, u.account, u.email,u.real_name
        FROM event_user_register eur
        JOIN t_system_user u ON eur.user_id = u.id
        WHERE eur.event_id = #{id}
        ORDER BY eur.create_time DESC
    </select>

    <select id="getBookmarkedUsers" resultType="com.weindependent.app.database.dataobject.UserDO">
        SELECT
            u.id, u.account, u.email,u.real_name
        FROM event_user_bookmark eub
                 JOIN t_system_user u ON eub.user_id = u.id
        WHERE eub.event_id = #{id}
        ORDER BY eub.create_time DESC
    </select>

    <delete id="delete" parameterType="java.util.List">
        DELETE FROM event
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="com.weindependent.app.database.dataobject.EventDO">
        UPDATE event e
            SET
                e.title = #{title},
                e.summary = #{summary},
                e.content = #{content},
                e.event_time = #{eventTime},
                e.duration= ${duration},
                e.location = #{location},
                e.link = #{link},
                e.tag_id = #{tagId},
                e.update_user_id = #{updateUserId},
                e.banner_url= #{bannerUrl},
                e.video_link = #{videoLink}
        WHERE e.id = #{id}
    </update>

    <select id="getAllBannerUrls" resultType="java.lang.String">
        SELECT banner_url FROM event
    </select>




</mapper>