<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.dashboard.DashboardEventImageMapper">


    <insert id="insert" parameterType="com.weindependent.app.database.dataobject.ImageDO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO event_image (category, file_name,file_key, file_type, file_path)
        VALUES (#{category}, #{fileName},#{fileKey}, #{fileType}, #{filePath})
    </insert>


    <update id="delete" parameterType="java.util.List">
        UPDATE event_image
        SET is_deleted = 1
        WHERE id IN (
            SELECT banner_id
            FROM event
            WHERE id IN
            <foreach collection="list" item="eventId" open="(" separator="," close=")">
                #{eventId}
            </foreach>
        )
    </update>

    <update id="markUsed" parameterType="long">
        UPDATE event_image
        SET is_deleted = 0
        WHERE id = #{id} AND is_deleted = 1
    </update>

</mapper>
