<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.DonateVolunteerMapper">

    <!-- 插入志愿者申请 -->
    <insert id="insert" parameterType="com.weindependent.app.database.dataobject.DonateVolunteerDO"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO donate_volunteer (
            full_name,
            email,
            phone_number,
            interests,
            needs_opt,
            opt_start_time,
            motivation,
            additional_info,
            create_time
        ) VALUES (
                     #{fullName},
                     #{email},
                     #{phoneNumber},
                     #{interests},
                     #{needsOPT},
                     #{optStartTime},
                     #{motivation},
                     #{additionalInfo},
                     NOW()
                 )
    </insert>

</mapper>


