<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.MostSavedMapper">

    <resultMap type="com.weindependent.app.vo.BlogHomePageHeroVO" id="BlogHomePageHeroVOResult">
        <result property="articleId" column="article_id"/>
        <result property="articleTitle" column="article_title"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="bannerImageUrl" column="file_path" />
        <collection property="tagVOList" ofType="com.weindependent.app.vo.TagVO" column="article_id" select="selectTagVOList"/>
    </resultMap>

    <resultMap id="TagVOResult" type="com.weindependent.app.vo.TagVO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
    </resultMap>

    <select id="findCurrentMostSavedList" resultType="com.weindependent.app.database.dataobject.EditorPickDO">
        SELECT *
        FROM most_saved
        WHERE status = 1
        ORDER BY create_time DESC

    </select>
    <select id="findPreviousMostSavedList" resultType="com.weindependent.app.database.dataobject.EditorPickDO">
        SELECT *
        FROM most_saved
        WHERE status = 0
        ORDER BY create_time DESC
    </select>

    <select id="findBlogHomePageHeroVOByIds" resultMap="BlogHomePageHeroVOResult">
        SELECT blog_article.id AS article_id,
        title AS article_title,
        category_id,
        category.name as category_name,
        file_path
        FROM blog_article
        LEFT JOIN category on blog_article.category_id = category.id
        LEFT JOIN blog_image on blog_article.banner_img_id = blog_image.Id
        WHERE blog_article.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND blog_article.is_deleted = 0
    </select>


    <select id="selectTagVOList" resultMap="TagVOResult">
        SELECT tag.id,
               name
        FROM tag_article_relation left join tag on tag_article_relation.tag_id = tag.id
        WHERE tag_article_relation.article_id = #{id}
          AND tag.is_deleted = 0
          AND tag_article_relation.is_deleted = 0
    </select>


</mapper>
