<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.PaypalIPNMapper">

    <insert id="insertIpnTransaction">
        INSERT INTO paypal_ipn_transaction
        (
            user_id,
            payer_email,
            payer_first_name,
            payer_last_name,
            payer_phone,
            txn_id,
            payment_status,
            payment_date,
            mc_gross,
            mc_fee,
            mc_currency,
            raw_ipn,
            txn_type,
            created_at
        )
        VALUES
        (
            #{userId},
            #{payerEmail},
            #{payerFirstName},
            #{payerLastName},
            #{payerPhone},
            #{txnId},
            #{paymentStatus},
            #{paymentDate},
            #{mcGross},
            #{mcFee},
            #{mcCurrency},
            #{rawIpn},
            #{txnType},
            NOW()
        )
    </insert>

    <select id="getDonateHistory" parameterType="int" resultType="com.weindependent.app.database.dataobject.DonateDO">
        SELECT
            id,
            user_id AS userId,
            payer_email AS payerEmail,
            payer_first_name AS payerFirstName,
            payer_last_name AS payerLastName,
            payer_phone AS payerPhone,
            txn_id AS txnId,
            payment_status AS paymentStatus,
            payment_date AS paymentDate,
            mc_gross AS mcGross,
            mc_fee AS mcFee,
            mc_currency AS mcCurrency,
            created_at AS createdAt,
            txn_type AS txnType
        FROM
            paypal_ipn_transaction
        WHERE
            user_id = #{userId}
        ORDER BY
            payment_date DESC
    </select>

    <select id="getDonateHistoryDetails" resultType="com.weindependent.app.database.dataobject.DonateDO">
        SELECT
            id,
            user_id AS userId,
            payer_email AS payerEmail,
            payer_first_name AS payerFirstName,
            payer_last_name AS payerLastName,
            payer_phone AS payerPhone,
            txn_id AS txnId,
            payment_status AS paymentStatus,
            payment_date AS paymentDate,
            mc_gross AS mcGross,
            mc_fee AS mcFee,
            mc_currency AS mcCurrency,
            created_at AS createdAt,
            txn_type AS txnType
        FROM
            paypal_ipn_transaction
        WHERE
            user_id = #{userId} AND txn_id = #{txnId}
    </select>

    <select id="checkTxnByUserId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM paypal_ipn_transaction
            WHERE user_id = #{userId}
            AND txn_id = #{txnId}
        )
    </select>


    
</mapper>
