<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.SaveMapper">
    
    <insert id="saveBlog">
        INSERT IGNORE INTO save_list_article (list_id, article_id)
        VALUES (#{listId}, #{blogId})
    </insert>

    <delete id="unsaveBlog">
        DELETE FROM save_list_article
        WHERE list_id = #{listId} AND article_id = #{blogId}
    </delete>

    <select id="getSavedBlogsFromList" resultType="com.weindependent.app.database.dataobject.BlogArticleDO">
        SELECT ba.*
        FROM blog_article ba
        INNER JOIN save_list_article sa ON ba.id = sa.article_id
        WHERE sa.list_id = #{listId}
    </select>

    <select id = "findDefaultListByUserId" resultType="com.weindependent.app.database.dataobject.SaveListDO">
        SELECT list_id
        FROM save_list
        WHERE user_id = #{userId} AND is_default = TRUE LIMIT 1 
    </select>

    <insert id = "createList" useGeneratedKeys="true" keyProperty="listId">
        INSERT INTO save_list (user_id, name, is_default)
        VALUES (#{userId}, #{name}, #{isDefault})
    </insert>

    <delete id = "deleteList">
        DELETE FROM save_list
        WHERE list_id = #{listId} AND user_id = #{userId}
    </delete>

    <select id = "getSavedList">
        SELECT *
        From save_list
        WHERE user_id = #{userId}
    </select>

    <select id="checkListOwnership" resultType="int">
        SELECT COUNT(*)
        FROM save_list
        WHERE id = #{listId} AND user_id = #{userId}
</select>
</mapper>
