<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weindependent.app.database.mapper.weindependent.TagMapper">
    <select id="getAllTags" resultType="com.weindependent.app.database.dataobject.TagDO">
        SELECT t.id, t.name
        FROM tag t
        WHERE is_deleted = 0;
    </select>

    <select id = "getTagsByCategoryName" parameterType="string" resultType="com.weindependent.app.database.dataobject.TagDO">
        SELECT t.id, t.name FROM tag t
        JOIN tag_category_relation tcr ON t.id = tcr.tag_id
        JOIN category c ON c.id = tcr.category_id
        WHERE c.name = #{category} AND t.is_deleted = 0;
    </select>
</mapper>
